{% extends 'base.html.twig' %}
{% block title %}Edit Accreditation Info{% endblock %}
{% block body %}

<div class="grid-container">
	<div class="panel-heading">
	<div>
			<h4 class="text-center">
				Edit Accreditation Info
			</h4>
	</div>
<div class="callout">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="grid-x">
		<div class="medium-4 columns">
		{{ form_row(form.accreditationCode) }}
		</div>
		<div class="medium-4 columns">
		{{ form_row(form.accreditationDate) }}
		</div>
		<div class="medium-4 columns">
		{{ form_row(form.accreditationExpDate) }}
		</div>
		</div>
		<input type="submit" class="button success" value="Save Changes">
		<a href="{{ path('profile', {'userId' : userId}) }}" class="button alert float-right">Cancel</a>
	{{ form_end(form) }}
</div>
</div>
{% endblock %}