{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block body %}
	<div class="grid-container">
	{% if userinfo %}
		<h1>{{ userinfo.fname }} {{ userinfo.mname }} {{ userinfo.lname }} {{ userinfo.suffix }}</h1>
		<p>{{ role }}</p>
		<h2>Profile</h2>
		<table>
			<tbody>
				<tr>
					<th>Gender:</th>
					<td>{{ userinfo.gender }}</td>
				</tr>
				<tr>
					<th>Civil Status:</th>
					<td>{{ userinfo.civilstatus }}</td>
				</tr>
				<tr>
					<th>Address:</th>
					<td>{{ userinfo.address }}</td>
				</tr>
				<tr>
					<th>Birthdate:</th>
					<td>{{ userinfo.birthdate|date('m/d/Y') }}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
	{% if accreditationinfo %}
		<h2>Accreditation Info</h2>
		<table>
			<tbody>
				<tr>
					<th>Accreditation Code:</th>
					<td>{{ accreditationinfo.accreditationcode }}</td>
				</tr>
				<tr>
					<th>Date Accredited:</th>
					<td>{{ accreditationinfo.accreditationdate|date('m/d/Y') }}</td>
				</tr>
				<tr>
					<th>Expiry Date:</th>
					<td>{{ accreditationinfo.accreditationexpdate|date('m/d/Y') }}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
		<a href="#" class="button primary">Edit Profile</a>
	</div>
{% endblock %}