{% extends 'base.html.twig' %}
{% set isActiveUser = userId == app.user.id %}
{% block title %}Profile{% endblock %}
{% block body %}
	<div class="grid-container">
		{% if userinfo %}
		<div class="panel-heading">
			<div>
				<h4 class="text-center">{{ userinfo.fname }} {{ userinfo.mname }} {{ userinfo.lname }} {{ userinfo.suffix }} ({{ role }})
				
				<a href=
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
					{% if role == "Doctor" %}
						"{{ path('doctor') }}"
					{% elseif role == "Patient" %}
						"{{ path('patient') }}"
					{% endif %}
				{% elseif is_granted('ROLE_ADMIN') %}
					{% if role == "Doctor" %}
						"{{ path('doctor_list') }}"
					{% elseif role == "Patient" %}
						"{{ path('patient_list') }}"
					{% endif %}
				{% endif %}
				class="button alert small float-right">RETURN</a>
				</h4>
			</div>
		<div class="callout">
		{% for msg in app.session.flashBag.get('success') %}
					<div class="success callout" data-closable>
						{{ msg }}
					<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
					<span aria-hidden="true">&times;</span>
					</button>
					</div>
					{% endfor %}
			<h5>
				User Profile 
				{% if isActiveUser %}
					<a href="{{ path('edit_profile') }}" class="button primary small float-right">Edit Profile</a>
				{% endif %}
			</h5>
			<table class="unstriped text-center">
				<tbody>
					<tr>
						<th>Gender:</th>
						<td>{{ userinfo.gender }}</td>
					</tr>
					<tr>
						<th>Civil Status:</th>
						<td>{{ userinfo.civilstatus }}</td>
					</tr>
					<tr>
						<th>Address:</th>
						<td>{{ userinfo.address }}</td>
					</tr>
					<tr>
						<th>Birthdate:</th>
						<td>{{ userinfo.birthdate|date('M d, Y') }}</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
		{% if accreditationinfo %}
			<h5>Accreditation Info 
				{% if accreditationinfo and isActiveUser %}
					<a href="{{ path('edit_accred') }}" class="button primary small float-right">Edit Accreditation Info</a>
				{% endif %}
			</h5>		
			<table class="unstriped">
				<tbody>
					<tr>
						<th>Accreditation Code:</th>
						<td>{{ accreditationinfo.accreditationcode }}</td>
					</tr>
					<tr>
						<th>Date Accredited:</th>
						<td>{{ accreditationinfo.accreditationdate|date('M d, Y') }}</td>
					</tr>
					<tr>
						<th>Expiry Date:</th>
						<td>{{ accreditationinfo.accreditationexpdate|date('M d, Y') }}</td>
					</tr>
					<tr>			
					</tr>
				</tbody>
			</table>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}