{% extends 'base.html.twig' %}
{% set isActiveUser = userId == app.user.id %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="notification">
{% for msg in app.session.flashBag.get('success') %}
	<div class="callout alert-callout-border success radius" data-closable="fade-out" autoClose="5000">
		<em><strong>Success!</strong></em> {{ msg }}
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}
</div>
	<div class="grid-container">
		{% if userinfo %}
		<div class="grid-x">
			<div class="profile small-12 medium-12 columns">
					<h4 class="text-center">{{ role }} {{ userinfo.getCompleteName }}
					{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('doctor_list') }}" class="small button float-left"><i class="fas fa-arrow-left fa-fw"></i>Back to list</a>
					{% endif %}
					</h4>
						<br>
					<div class="small-12 medium-12 columns">
						{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
							<a href="{{ path('edit_profile', {'userId': userId}) }}" title="Click here to edit your profile.">
								<img src="{{ asset('uploads/' ~ userinfo.getAvatar()) }}" alt="Embedded Image"  id="profile-pic"/>
							</a>
							{% else %}
							<img src="{{ asset('uploads/' ~ userinfo.getAvatar()) }}" alt="Embedded Image"  id="profile-pic"/>
						{% endif %}
					</div>
					<div class="user_info small-12 medium-12 columns">
					<h5>~ User Information ~</h5>
					{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
						<a href="{{ path('change_password') }}" class="float-right"><i class="fas fa-cog fa-fw"></i>CHANGE PASSWORD</a>
					{% endif %}
						<strong>Gender:</strong> {{ userinfo.gender }}<br>
						<strong>Civil Status:</strong> {{ userinfo.civilstatus }}<br>
						<strong>Address:</strong> {{ userinfo.address }}<br>
						<strong>Birthday:</strong> {{ userinfo.birthdate|date('M d, Y') }}
				{% endif %}

				{% if accreditationinfo %}
					<h5>~ Accreditation Info ~</h5>
					{% if accreditationinfo and is_granted('ROLE_DOCTOR') %}
							<a href="{{ path('edit_accred', {'userId': userId}) }}" class="small float-right"><i class="fas fa-edit"></i> EDIT</a>
					{% endif %}
						<strong>Accreditation Code:</strong> {{ accreditationinfo.accreditationcode }}<br>
						<strong>Date Accredited:</strong> {{ accreditationinfo.accreditationdate|date('M d, Y') }}<br>
						<strong>Expiry Date:</strong> {{ accreditationinfo.accreditationexpdate|date('M d, Y') }}<br>
				{% endif %}
			</div>
		</div>	
	</div>
</div>
{% endblock %}