{% extends 'base.html.twig' %}
{% set isActiveUser = userId == app.user.id %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="notification">
{% for msg in app.session.flashBag.get('success') %}
	<div class="callout alert-callout-border success radius" data-closable="fade-out" autoClose="5000">
		<em><strong>Success!</strong></em> {{ msg }}
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}
</div>
	<div class="grid-container">
		{% if userinfo %}
		<div class="panel-heading">
			<div>
				<h4 class="text-center">{{ userinfo.fname }} {{ userinfo.mname }} {{ userinfo.lname }} {{ userinfo.suffix }} ({{ role }})
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}<a href="{{ path('change_password') }}" class="button primary small float-left"><i class="fas fa-cog fa-fw"></i>Change Password</a>{% endif %}
				<a href=
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
					{% if role == "Doctor" %}
						"{{ path('home') }}"
					{% elseif role == "Patient" %}
						"{{ path('home') }}"
					{% endif %}
				{% endif %}
				class="button alert small float-right"><i class="fas fa-angle-double-left fa-fw fa-lg"></i>RETURN</a>
				</h4>
			</div>
		<div class="callout">
			<h5>
				User Profile
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT')%}
					<a href="{{ path('edit_profile', {'userId': userId}) }}" class="button primary small float-right"><i class="fas fa-user-edit fa-fw"></i></a>
				{% endif %}
			</h5>
			<table class="unstriped text-center">
				<tbody>
					<tr>
						<th>Gender:</th>
						<td>{{ userinfo.gender }}</td>
					</tr>
					<tr>
						<th>Civil Status:</th>
						<td>{{ userinfo.civilstatus }}</td>
					</tr>
					<tr>
						<th>Address:</th>
						<td>{{ userinfo.address }}</td>
					</tr>
					<tr>
						<th>Birthdate:</th>
						<td>{{ userinfo.birthdate|date('M d, Y') }}</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
		{% if accreditationinfo %}
			<h5>Accreditation Info
				{% if accreditationinfo and is_granted('ROLE_DOCTOR') %}
					<a href="{{ path('edit_accred', {'userId': userId}) }}" class="button primary small float-right">Edit Accreditation Info</a>
				{% endif %}
			</h5>
			<table class="unstriped">
				<tbody>
					<tr>
						<th>Accreditation Code:</th>
						<td>{{ accreditationinfo.accreditationcode }}</td>
					</tr>
					<tr>
						<th>Date Accredited:</th>
						<td>{{ accreditationinfo.accreditationdate|date('M d, Y') }}</td>
					</tr>
					<tr>
						<th>Expiry Date:</th>
						<td>{{ accreditationinfo.accreditationexpdate|date('M d, Y') }}</td>
					</tr>
					<tr>
					</tr>
				</tbody>
			</table>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}