{% extends 'base.html.twig' %}
{% set isActiveUser = userId == app.user.id %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="notification">
{% for msg in app.session.flashBag.get('success') %}
	<div class="callout alert-callout-border success radius" data-closable="fade-out" autoClose="5000">
		<em><strong>Success!</strong></em> {{ msg }}
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}
</div>
	<div class="grid-container">
		{% if userinfo %}
		<div class="panel-heading">
			<div>
				<h4 class="text-center">USER PROFILE ({{ role }})
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}<a href="{{ path('change_password') }}" class="button primary small float-left"><i class="fas fa-cog fa-fw"></i>Change Password</a>{% endif %}
				<a href=
				{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
					{% if role == "Doctor" %}
						"{{ path('home') }}"
					{% elseif role == "Patient" %}
						"{{ path('home') }}"
					{% endif %}
				class="button alert small float-right"><i class="fas fa-angle-double-left fa-fw fa-lg"></i>RETURN</a>
				{% endif %}

				{% if is_granted ('ROLE_ADMIN') %}
					<a href="{{ path('home') }}" class="small button alert float-right"><i class="fas fa-angle-double-left fa-fw"></i>RETURN</a>
				{% endif %}
				</h4>
			</div>
		<div class="callout">
			<div class="grid-x">
				<div class="small-12 medium-4 columns" id="profile-pic">

					{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
						<a title="Click here to edit profile." href="{{ path('edit_profile', {'userId': userId}) }}">
							<img src='{{ asset("brochures_directory/"~ userinfo.fileUpload)}}' alt="Embedded Image" />
						</a>
					
					{% elseif is_granted('ROLE_ADMIN') %}
						<img src='{{ asset("brochures_directory/"~ userinfo.fileUpload)}}' alt="Embedded Image"/>
					{% endif %}
				</div>
				<div class="small-12 medium-8 columns" id="profile">
					<strong>Name:</strong> {{ userinfo.getCompleteName() }}<br>
					<strong>Gender:</strong> {{ userinfo.gender }}<br>
					<strong>Civil Status:</strong> {{ userinfo.civilstatus }}<br>
					<strong>Address:</strong> {{ userinfo.address }}<br>
					<strong>Birthday:</strong> {{ userinfo.birthdate|date('M d, Y') }}
			{% endif %}

			{% if accreditationinfo %}
			<hr>
				<h3>~ Accreditation Info ~
					{% if accreditationinfo and is_granted('ROLE_DOCTOR') %}
						<a href="{{ path('edit_accred', {'userId': userId}) }}" class="button primary small float-right">Edit Accreditation Info</a>
					{% endif %}
				</h5>
					<strong>Accreditation Code:</strong> {{ accreditationinfo.accreditationcode }}<br>
					<strong>Date Accredited:</strong> {{ accreditationinfo.accreditationdate|date('M d, Y') }}<br>
					<strong>Expiry Date:</strong> {{ accreditationinfo.accreditationexpdate|date('M d, Y') }}
			{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}