{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="grid-container" style="width:450px;">
    <div class="change">
        <h4 class="text-center">Change Password</h4>
                <p class="text-center">for current user: @{{ app.user.username }}</p>
                {{ form_start(form, { 'attr': { 'novalidate' : 'novalidate' } }) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="button primary" value="Change Password">
                    <a href="{{ path('profile', { 'userId': app.user.id }) }}" class="button alert float-right">Cancel</a>
                {{ form_end(form) }}
    </div>
</div>
{% endblock %}