{% extends 'base.html.twig' %}
{% block title %}Clinic Info{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>{{ clinic.clinicName }}</h1>
		<p>Schedule: {{ clinic.schedStart|date('h:i A') }} - {{ clinic.schedEnd|date('h:i A') }}</p>
		<p>Email address: {{ clinic.email }}</p>
		<a href="{{ path('add_doctors_to_clinic', {'id' : clinic.id }) }}" class="button primary">Add Doctors...</a>
		<a href="{{ path('remove_doctors_from_clinic', {'id' : clinic.id }) }}" class="button alert">Remove Doctors...</a>
		{% if doctors.count != 0 %}
			<h2>List of doctors</h2>

				<table class="unstriped">
					<tbody>
						{% for doctor in doctors %}
						<tr>
							<td>
								{{ doctor.userInfo.fname }} {{ doctor.userInfo.mname }} {{ doctor.userInfo.lname }} {{ doctor.userInfo.suffix }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

		{% endif %}
	</div>
{% endblock %}