{% extends 'base.html.twig' %}
{% block title %}Patient Record{% endblock %}
{% block body %}
<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
					Patient Records
			</h4>
		</div>
	<div class="callout">
		<nav aria-label="You are here:" role="navigation">
			<ul class="breadcrumbs">
			<li><a href="{{ path('record_history') }}">Back to list</a></li>
			<li><span class="show-for-sr">Current: </span>Record History: #{{ record.id }}</li>
			</ul>
		</nav>
	<table class="table unstriped text-justify">
		<tr>
			<th>Patient: </th>
			<td>{{ patient.fname }} {{ patient.mname }} {{ patient.lname }} {{ patient.suffix }}</td>
			<th>Doctor-in-charge:</th>
			<td>{{ doctor.fname }} {{ doctor.mname }} {{ doctor.lname }} {{ doctor.suffix }}</td>
		</tr>

		<tr>
			<th colspan="2">Checkup Date:</th>
			<td colspan="2">{{ record.checkupDate|date('M d, Y') }}</td>
		</tr>

		<tr>
			<th colspan="2">Check up Reason:</th>
			<td colspan="2">{{ record.checkupReason }}</td>
		</tr>

		<tr>
			<th colspan="2">Diagnosis:</th>
			<td colspan="2">{{ record.diagnosis }}</td>
		</tr>

		<tr>
			<th colspan="2">Diagnosis Category:</th>
			<td colspan="2">{{ record.diagnosisCategory.diagnosisName }}</td>
		</tr>

		<tr>
			<th colspan="2">Check up Reason:</th>
			<td colspan="2">{{ record.checkupReason }}</td>
		</tr>

		<tr>
		<th colspan="2">Payment:</th>
		<td colspan="2">₱{{ record.payment| number_format(2, '.', ',') }}</td>
		</tr>

	</table>
</div>
</div>
{% endblock %}