{% extends 'base.html.twig' %}
{% block title %}Patient Record{% endblock %}
{% block body %}
<div class="grid-container">
	<h1>Patient Record</h1>
	<table>
		<tbody>
			<tr>
				<th>Checkup Date:</th>
				<td>{{ record.checkupDate|date('m/d/Y') }}</td>
				<th>Doctor in Charge:</th>
				<td>{{ doctor.fname }} {{ doctor.mname }} {{ doctor.lname }} {{ doctor.suffix }}</td>
			</tr>
			<tr>
				<th>Checkup Reason:</th>
				<td colspan="3">{{ record.checkupReason }}</td>
			</tr>
			<tr>
				<th>Diagnosis Category:</th>
				<td colspan="3">{{ record.diagnosisCategory.diagnosisName }}</td>
			</tr>
			<tr>
				<th>Diagnosis:</th>
				<td colspan="3">{{ record.diagnosis }}</td>
			</tr>
			<tr>
				<th>Payment:</th>
				<td colspan="3">{{ record.payment }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}