{% extends 'base.html.twig' %}
{% block title %}Patient Record{% endblock %}
{% block body %}
<div class="grid-container">
	<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patient Record
			</h4>
		</div>
	</div>

<div class="callout">
	<dl>
		<dt>Patient:</dt>
		<dd>{{ patient.fname }} {{ patient.mname }} {{ patient.lname }} {{ patient.suffix }}</dd>
		<dt>Checkup Date:</dt>
		<dd>{{ record.checkupDate|date('M d, Y') }}</dd>
	</dl>
	<dl>
		<dt>Doctor in Charge:</dt>
		<dd>{{ doctor.fname }} {{ doctor.mname }} {{ doctor.lname }} {{ doctor.suffix }}</dd>
		<dt>Diagnosis Category:</dt>
		<dd>{{ record.diagnosisCategory.diagnosisName }}</dd>
	</dl>
	<dl>
		<dt>Payment:</dt>
		<dd>{{ record.payment }}</dd>
	</dl>

	<dl>
		<dt>Checkup Reason:</dt>
		<dd colspan="3">{{ record.checkupReason }}</dd>
		<dt>Diagnosis:</dt>
		<dd colspan="3">{{ record.diagnosis }}</dd>
	</dl>
</div>
</div>
{% endblock %}