{% extends 'base.html.twig' %}
{% block title %}Patient Record{% endblock %}
{% block body %}
<div class="grid-container">
<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patient Records
			</h4>
		</div>

<div class="callout">
		<tbody>
			<tr>
				<th>Patient:</th>
				<td>{{ patient.fname }} {{ patient.mname }} {{ patient.lname }} {{ patient.suffix }}</td>
				<th>Checkup Date:</th>
				<td>{{ record.checkupDate|date('M d, Y') }}</td>
				
			</tr>
			<tr>
				<th>Doctor in Charge:</th>
				<td>{{ doctor.fname }} {{ doctor.mname }} {{ doctor.lname }} {{ doctor.suffix }}</td>
				<th>Diagnosis Category:</th>
				<td>{{ record.diagnosisCategory.diagnosisName }}</td>
			</tr>
			<tr>
				<th>Payment:</th>
				<td colspan="3">{{ record.payment }}</td>
			</tr>
		</tbody>
	</table>
	<dl>
				<dt>Checkup Reason:</dt>
				<dd colspan="3">{{ record.checkupReason }}</dd>
				<dt>Diagnosis:</dt>
				<dd colspan="3">{{ record.diagnosis }}</dd>
	</dl>
</div>
</div>
</div>
{% endblock %}