{% extends 'base.html.twig' %}
{% block title %}Patient Record{% endblock %}
{% block body %}
<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">Patient Records <a href="{{path('record_history')}}" class="small button alert float-right">Back to list</a></h4>
		</div>
	<div class="callout">
	<table class="table unstriped text-justify" width="100%;">
		<tr>
			<th>Patient: </th>
			<td>{{ patient.getCompleteName() }}</td>
			<th>Doctor-in-charge:</th>
			<td>{{ doctor.getCompleteName() }}</td>
		</tr>

		<tr>
			<th colspan="2">Checkup Date:</th>
			<td colspan="2">{{ record.checkupDate|date('M d, Y') }}</td>
		</tr>

		<tr>
			<th colspan="2">Checkup Reason:</th>
			<td colspan="2">{{ record.checkupReason }}</td>
		</tr>

		<tr>
			<th colspan="2">Diagnosis:</th>
			<td colspan="2">{{ record.diagnosis }}</td>
		</tr>

		<tr>
			<th colspan="2">Diagnosis Category:</th>
			<td colspan="2">{{ record.diagnosisCategory.diagnosisName }}</td>
		</tr>

		<tr>
			<th colspan="2">Payment:</th>
			<td colspan="2">₱{{ record.payment| number_format(2, '.', ',') }}</td>
		</tr>

	</table>
</div>
</div>
</div>
{% endblock %}