{% extends 'base.html.twig' %}
{% block title %}Patient Records History{% endblock %}
{% block body %}
<div class="grid-container">
	<h1>Patient Records History</h1>
	<table>
		<thead>
			<tr>
				<th>Checkup Date</th>
				<th>Doctor in Charge</th>
				<th>Reason for Checkup</th>
				<th>Diagnosis Category</th>
			</tr>
		</thead>
		<tbody>
		{% for record in records %}
			<tr>
				<td>{{ record.checkupDate }}</td>
				<td>{{ record.doctor.userinfo.fname }} {{ record.doctor.userinfo.mname }} {{ record.doctor.userinfo.lname }} {{ record.doctor.userinfo.suffix }}</td>
				<td>{{ record.checkupReason }}</td>
				<td>{{ record.diagnosisCategory }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}