{% extends 'base.html.twig' %}
{% block title %}Patient Records History{% endblock %}
{% block body %}
<div class="grid-container">
<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patient Records History
			</h4>
		</div>

<div class="callout">
	<table class="table unstriped">
		<thead>
			<tr>
				<th>Checkup Date</th>
				<th>Doctor in Charge</th>
				<th>Diagnosis Category</th>
			</tr>
		</thead>
		<tbody>
		{% for record in records %}
			<tr>
				<td><a href="{{ path('view_record', {recordId : record.id}) }}">{{ record.checkupDate|date('m/d/Y') }}</a></td>
				<td>{{ record.doctor.fname }} {{ record.doctor.mname }} {{ record.doctor.lname }} {{ record.doctor.suffix }}</td>
				<td>{{ record.diagnosisCategory.diagnosisName }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<nav aria-label="Pagination">
		<ul class="pagination text-center">
			<li class="pagination-previous {{ thisPage == 1 ? 'disabled' }}">Previous</li>
			{% for i in 1 .. maxPages %}
			<li class="{{ thisPage == i ? 'current' }}">
				{% if thisPage == i %}
				{{ i }}
				{% else %}
				<a href="{{ path('diagnosis_categories', {'page' : i}) }}">{{ i }}
				</a>
				{% endif %}
			</li>
			{% endfor %}
			<li class="pagination-next {{ thisPage == maxPages ? 'disabled'}}">Next</li>
		</ul>
	</nav>
</div>
</div>
</div>
{% endblock %}