{% extends 'base.html.twig' %}
{% block title %}Patient Records History{% endblock %}
{% block body %}
<div class="grid-container">
<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patient Records History
			</h4>
		</div>

<div class="callout">
		<nav aria-label="You are here:" role="navigation">
			<ul class="breadcrumbs">
			<li><a href="{{ path('patient') }}">Home</a></li>
			<li><span class="show-for-sr">Current: </span>Record History</li>
			<li><a href="{{ path('add_appointment') }}">Set an appointment</a></li>
			</ul>
		</nav>
	<table class="table unstriped">
		<thead>
			<tr>
				<th>Checkup Date</th>
				<th>Doctor in Charge</th>
				<th>Diagnosis Category</th>
			</tr>
		</thead>
		<tbody>
		{% for record in records %}
			<tr>
				<td><a href="{{ path('view_record', {recordId : record.id}) }}" title="Click here to view full details.">{{ record.checkupDate|date('m/d/Y') }}</a></td>
				<td>{{ record.doctor.fname }} {{ record.doctor.mname }} {{ record.doctor.lname }} {{ record.doctor.suffix }}</td>
				<td>{{ record.diagnosisCategory.diagnosisName }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
</div>
{% endblock %}