{% extends 'base.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
<div class="grid-container">
	<div class="panel-heading">
			<div>
				<h4 class="text-center">
					Set an Appointment
				</h4>
			</div>

<div class="callout">
	<nav aria-label="You are here:" role="navigation">
		<ul class="breadcrumbs">
			<li><a href="{{ path('patient') }}">Home</a></li>
			<li><a href="{{ path('record_history') }}">Record History</a></li>
            <li><span class="show-for-sr">Current: </span>Set an appointment</li>
		</ul>
	</nav>		
<div class="grid-x" style="margin-left:10px;">
                <div class="small-12 medium-3 columns">
                    
                    {{ form_row(form.appointmentDate) }}
                </div>
                <div class="small-12 medium-8 columns" style="margin-left:50px;">
                    {{ form_row(form.reason) }}
                </div>
                <div class="small-12 medium-6 columns">
                    {{ form_row(form.doctor) }}
                </div>
                <div class="small-12 medium-6">
                    <a href="{{ path('add_appointment') }}" class="small button success float-right" style="margin-top:3%; margin-right:50px;">Set Appointment</a>
                </div>
</div>
{% endblock %}