{% extends 'base.html.twig' %}
{% block title %}Add Clinic{% endblock %}
{% block body %}

<div class="grid-container">
	<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Add New Clinic
			</h4>
		</div>
<div class="callout">
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_widget(form) }}
			<br>
				<input type="submit" class="button success" value="Add Clinic">
			<a href="{{ path('clinic_list') }}" class="button float-right">Cancel</a>
		{{ form_end(form) }}
	</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '6',
            maxTime: '6:00pm',
            defaultTime: '6',
            startTime: '6:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });
    </script>
{% endblock %}