{% extends 'base.html.twig' %}
{% block title %}Add Clinic{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>Add Clinic</h1>
		{% form_theme form 'jquery.collection.html.twig' %}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_row(form.clinicName) }}
			{{ form_row(form.email) }}
			{{ form_row(form.schedStart) }}
			{{ form_row(form.schedEnd) }}
			{{ form_row(form.doctors, {'attr': {'class': 'my-selector'}}) }}
			{# <ul class="tags" data-prototype="{{ form_widget(form.doctors.vars.prototype|e('html_attr')) }}"> #}

			</ul>
			<input type="submit" class="button success" value="Add Clinic">
			<a href="{{ path('clinic_list') }}" class="button">Cancel</a>
		{{ form_end(form) }}
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}