{% extends 'base.html.twig' %}
{% block title %}Add Diagnosis Category{% endblock %}
{% block body %}
<div class="grid-container">
		<div class="panel-heading">
			<div>
				<h4 class="text-center">Add New Category</h4>
			</div>
<div class="callout">

<nav aria-label="You are here:" role="navigation">
	<ul class="breadcrumbs">
	<li><span class="show-for-sr">Current: </span>Diagnosis Category: Add Category</li>
	<li><a href="{{ path('diagnosis_categories') }}">back to list</a></li>
	</ul>
</nav>

			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_widget(form) }}
			<input type="submit" class="button success float-right" value="Add Diagnosis Category">
			<a href="{{ path('diagnosis_categories') }}" class="button alert">Cancel</a>
		{{ form_end(form) }}	
	</div>
</div>
</div>
{% endblock %}