{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
<div class="grid-container">
		<div class="panel-heading">
				<h4 class="text-center">
					Scheduled Appointments
				</h4>
        <div class="callout">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li>
                    <a href=
                        {% if is_granted('ROLE_ADMIN') %}
                            "{{ path('admin') }}"
                        {% elseif is_granted('ROLE_DOCTOR') %}
                            "{{ path('doctor') }}"
                        {% elseif is_granted('ROLE_PATIENT') %}
                            "{{ path('patient') }}"
                        {% endif %}>
                        Home
                    </a>
                    </li>
                    <li><span class="show-for-sr">Current: </span>Appointments</li>
                    <li><a href="{{ path('send_message') }}">Messages</a></li>
                </ul>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Appointment Date</th>
                        <th>Patient</th>
                        <th>Appointment Status</th>
                        <th>Reason for Appointment</th>
                        {% if not is_granted('ROLE_PATIENT') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td><a href="{{ path('appointment_show', {'appointmentId': appointment.id}) }}">{{ appointment.id }}</a></td>
                            <td>{{ appointment.appointmentDate ? appointment.appointmentDate|date('Y-m-d') : '' }}</td>
                            <td>{{ appointment.patient.userInfo.getCompleteName() }}</td>
                            <td>{{ appointment.appointmentStatus }}</td>
                            <td>{{ appointment.reason }}</td>
                            {% if not is_granted('ROLE_PATIENT') %}
                                <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('appointment_edit', {'appointmentId': appointment.id}) }}" class="button primary">Edit</a>
                                    <a href="{{ path('appointment_delete', {'appointmentId': appointment.id}) }}"
                                        onsubmit="return confirm('Are you sure you want to delete this appointment?');" class="button alert">Delete</a>
                                {% elseif is_granted('ROLE_DOCTOR') %}
                                    {% if appointment.appointmentStatus == "Pending" %}
                                        <a href="{{ path('accept_appointment', {'appointmentId': appointment.id}) }}" class="button success">Accept</a>
                                        <a href="{{ path('decline_appointment', {'appointmentId': appointment.id}) }}" class="button alert">Decline</a>
                                    {% elseif appointment.appointmentStatus == "Accepted" %}
                                        <a href="{{ path('record_diagnosis', {'appointmentId': appointment.id}) }}" class="button primary">Record Diagnosis</a>
                                    {% endif %}
                                {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan= {% if not is_granted('ROLE_PATIENT') %}"6"{% else %}"5"{% endif %}>no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}