{% extends 'base.html.twig' %}
{% block title %}Clinic List{% endblock %}
{% block body %}
<div class="grid-container">
		<hr>
			<div class="panel-heading">
				<div class="sub_nav">
		<ul>
			<li><a href="{{ path('admin') }}">Home</a></li>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Patients</a></li>
		</ul>
		</div>
		</div>
		<div class="callout">
			<h3>Clinic List<a  href="{{ path('add_clinic') }}" class="button success float-right">Add New Clinic...</a></h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{% for clinic in clinics %}
				<tr>
					<td>
						<a href="{{ path('view_clinic', {clinicId : clinic.id}) }}">{{ clinic.clinicName }}
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}