{% extends 'base.html.twig' %}
{% block title %}Diagnosis Categories{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-9">
				<h1>Diagnosis Categories</h1>
			</div>
			<div class="cell medium-3">
				<a href="{{ path('add_diagnosis_category') }}" class="button success">Add New Category...</a>
			</div>
		</div>
		<table class="unstriped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for diagnosiscategory in diagnosiscategories %}
			<tr>
				<td>{{ diagnosiscategory.diagnosisName }}</td>
				<td>
					<a href="#" class="button primary">Edit</a>
					<a href="#" class="button alert">Delete</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<nav aria-label="Pagination">
			<ul class="pagination text-center">
				<li class="pagination-previous {{ thisPage == 1 ? 'disabled' }}">Previous</li>
				{% for i in 1 .. maxPages %}
				<li class="{{ thisPage == i ? 'current' }}">
					{% if thisPage == i %}
					{{ i }}
					{% else %}
					<a href="{{ path('diagnosis_categories', {'page' : i}) }}">{{ i }}
					</a>
					{% endif %}
				</li>
				{% endfor %}
				<li class="pagination-next {{ thisPage == maxPages ? 'disabled'}}">Next</li>
			</ul>
		</nav>
	</div>
{% endblock %}
