{% extends 'base.html.twig' %}

{% block title %}Diagnosis Categories{% endblock %}
{% block body %}
		<div class="grid-container">
		<hr>
			<div class="panel-heading">
		<ul class="menu">
			<h4> Diagnosis Categories </h4>
			<li><a href="{{ path('admin') }}">Home</a></li>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Manage Patients</a></li>
		</ul>
		</div>
		<div class="callout">
			<a href="{{ path('add_diagnosis_category') }}" class="button small success">Add New Category</a>
	<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for diagnosiscategory in diagnosiscategories %}
			<tr>
				<td>{{ diagnosiscategory.diagnosisName }}</td>
				<td>
					<a href="#">EDIT</a> |
					<a href="#">DELETE</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	</div>
{% endblock %}
