{% extends 'base.html.twig' %}

{% block title %}Diagnosis Categories{% endblock %}
{% block body %}
<div class="grid-container">
<div class="panel-heading">
	<div>
		<h4> Diagnosis Categories 
			<a href="{{ path('add_diagnosis_category') }}" class="button small float-right">Add New Category</a>
		</h4>
	</div>
<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path('admin') }}">Home</a></li>
	<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
	<li><span class="show-for-sr">Current: </span>Diagnosis Categories</li>
	<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
	<li><a href="{{ path('patient_list') }}">Manage Patients</a></li>
  </ul>
</nav>
	<table class="table unstriped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for diagnosiscategory in diagnosiscategories %}
			<tr>
				<td>{{ diagnosiscategory.diagnosisName }}</td>
				<td>
					<a href="#">EDIT</a> |
					<a href="#">DELETE</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	</div>
{% endblock %}
