{% extends 'base.html.twig' %}
{% block title %}List of Doctors{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="panel-heading">
				<h4 class="text-center">
					Doctors
					<div class="button-group small float-right">
						<a href="{{ path('add_doctor') }}" class="button">Add New Doctor</a>
						<a href="{{ path('appointment_list') }}" class="button">View All Appoinments</a>
					</div>
				</h4>
		</div>
		<div class="callout">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="{{ path('admin') }}">Home</a></li>
					<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
					<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
					<li><span class="show-for-sr">Current: </span>Manage Doctors</li>
					<li><a href="{{ path('patient_list') }}">Manage Patients</a></li>
				</ul>
			</nav>
			<table class="table unstriped text-center">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Accreditation Code</th>
						<th class="text-center">Accreditation Date</th>
						<th class="text-center">Accreditation Expiry Date</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for doctor in doctors %}
						<tr>
							<td><a href="{{ path('profile', {userId : doctor.id}) }}" title="Click here to view profile.">{{ doctor.userInfo.getCompleteName }}</a></td>
							<td>{{ doctor.accreditationinfo.accreditationcode }}</td>
							<td>{{ doctor.accreditationinfo.accreditationDate| date ('M d, Y') }}</td>
							<td>{{ doctor.accreditationinfo.accreditationExpDate| date ('M d, Y')}}</td>
							<td><a href="{{ path('delete_user', {userId : doctor.id}) }}" class="button alert small" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
