{% extends 'base.html.twig' %}
{% block title %}List of Doctors{% endblock %}
{% block body %}
	<div class="grid-container">
		<hr>
			<div class="panel-heading">
				<div class="sub_nav">
		<ul>
			<li><a href="{{ path('admin') }}">Home</a></li>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li class="active"><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Patients</a></li>
		</ul>
		</div>
		</div>
		<div class="callout">
			<h3>Doctor List<a href="{{ path('add_doctor') }}" class="button success float-right">Add New Doctor...</a></h3>
			<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Accreditation Code</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for doctor in doctors %}
				<tr>
					<td><a href="{{ path('profile', {userId : doctor.id}) }}">{{ doctor.userInfo.fname }}</a></td>
					<td>{{ doctor.accreditationinfo.accreditationcode }}</td>
					<td>
						<a href="#" class="button primary">Edit</a>
						<a href="#" class="button alert">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
