{% extends 'base.html.twig' %}

{% block title %}Admin Portal{% endblock %}

{% block body %}
<div class="grid-container">
	<hr>
	<div class="panel-heading">
	<ul class="menu">
		<h4> Admin Portal </h4>
		<li><a href="{{ path('admin') }}">Home</a></li>
		<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
		<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
		<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
		<li><a href="{{ path('patient_list') }}">Manage Patients</a></li>
	</ul>
	</div>
	<div class="callout">
			Admin Home Page
	</div>
</div>
{% endblock %}