{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}
<div class="grid-container">
		<hr>
			<div class="panel-heading">
		<ul class="menu">
			<h4>Patients</h4>
			<li><a href="{{ path('admin') }}">Home</a></li>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Manage Patients</a></li>
		</ul>
		</div>
		<div class="callout">
		<a href="{{ path('add_patient') }}" class="button small success">Add New Patient</a>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in patients %}
				<tr>
					<td>
						<a href="{{ path('profile', {userId: patient.id}) }}">
							 {{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}
						</a>
					</td>
					<td>
						<a href="#">EDIT</a> |
						<a href="#">DELETE</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
	