{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}

<div class="grid-container">

<div class="panel-heading">
	<div>
		<h4>Patients<a href="{{ path('add_patient') }}" class="button small float-right">Add New Patient</a>
		</h4>
	</div>
<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path('admin') }}">Home</a></li>
	<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
	<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
	<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
	<li><span class="show-for-sr">Current: </span>Manage Patients</li>
  </ul>
</nav>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in patients %}
				<tr>
					<td>
						<a href="{{ path('profile', {userId: patient.id}) }}">
							 {{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}
						</a>
					</td>
					<td>
						<a href="#">EDIT</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>

{% endblock %}
	