{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}

<div class="grid-container">
	<div class="panel-heading">
		<div>
			<h4 class="text-center">Patients{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('add_patient') }}" class="button small float-right">Add New Patient</a>{% endif %}
			</h4>
		</div>

	<div class="callout">
		<nav aria-label="You are here:" role="navigation">
			{% if is_granted('ROLE_ADMIN') %}
				<ul class="breadcrumbs">
					<li><a href="{{ path('admin') }}">Home</a></li>
					<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
					<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
					<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
					<li><span class="show-for-sr">Current: </span>Manage Patients</li>
				</ul>
			{% elseif is_granted('ROLE_DOCTOR') %}
				<ul class="breadcrumbs">
					<li><a href="{{ path('doctor') }}">Home</a></li>
					<li><span class="show-for-sr">Current: </span>Patients</li>
					<li><a href="{{ path('appointment_doctor') }}">Appointments</a></li>
				</ul>
			{% endif %}

		</nav>
		<table class="table unstriped text-center">
			<thead>
				<tr>
					<th class="text-center">Name</th>
					<th class="text-center">Gender</th>
					<th class="text-center">Civil Status</th>
					<th class="text-center">Address</th>
					<th class="text-center">Birthday</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in patients %}
				<tr>
					<td>
						<a href="{{ path('profile', {userId : patient.id}) }}" title="Click here to view profile.">{{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}</a>
					</td>
					<td>
						{{ patient.userInfo.gender }}
					</td>
					<td>
						{{ patient.userInfo.civilstatus }}
					</td>
					<td>
						{{ patient.userInfo.address }}
					</td>
					<td>
						{{ patient.userInfo.birthdate| date ('M d, Y') }}
					</td>
					<td>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('reset_password', {userId : patient.id}) }}" class="button primary small" onclick="return confirm('Are you sure you want to reset this user\'s password?')">Reset Password</a>
							<a href="{{ path('delete_user', {userId : patient.id}) }}" class="button alert small" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
						{% elseif is_granted('ROLE_DOCTOR') %}
							<a href="{{ path('record_diagnosis', {'patientId': patient.id}) }}" class="button small">Record Diagnosis</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}