{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}
<div class="grid-container">
		<hr>
			<div class="panel-heading">
				<div class="sub_nav">
		<ul>
			<li><a href="{{ path('admin') }}">Home</a></li>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li><a href="{{ path('doctor_list') }}">Manage Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Patients</a></li>
		</ul>
		</div>
		</div>
		<div class="callout">
			<h3>List of Patients <a href="{{ path('add_patient') }}" class="button success float-right">Add New Patient...</a></h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in patients %}
				<tr>
					<td>
						<a href="{{ path('profile', {userId: patient.id}) }}">
							 {{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}
						</a>
					</td>
					<td>
						<a href="#" class="button primary">Edit</a>
						<a href="#" class="button alert">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
	