{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-9">
				<h1>List of Patients</h1>
			</div>
			<div class="cell medium-3">
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('add_patient') }}" class="button success">Add New Patient...</a>
				{% endif %}
			</div>
		</div>
		<table class="unstriped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in patients %}
				<tr>
					<td>
						<a href="{{ path('profile', {userId: patient.id}) }}">
							 {{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}
						</a>
					</td>
					<td>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('delete_user', {userId : patient.id}) }}" class="button alert" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
						{% elseif is_granted('ROLE_DOCTOR') %}
							<a href="{{ path('record_diagnosis', {'patientId': patient.id}) }}" class="button">Record Diagnosis...</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<nav aria-label="Pagination">
			<ul class="pagination text-center">
				<li class="pagination-previous {{ thisPage == 1 ? 'disabled' }}">Previous</li>
				{% for i in 1 .. maxPages %}
				<li class="{{ thisPage == i ? 'current' }}">
					{% if thisPage == i %}
					{{ i }}
					{% else %}
					<a href="{{ path('diagnosis_categories', {'page' : i}) }}">{{ i }}
					</a>
					{% endif %}
				</li>
				{% endfor %}
				<li class="pagination-next {{ thisPage == maxPages ? 'disabled'}}">Next</li>
			</ul>
		</nav>
	</div>
{% endblock %}