{% extends 'base.html.twig' %}
{% block title %}List of Patients{% endblock %}
{% block body %}

<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patients
			</h4>
		</div>

<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path('home') }}">Home</a></li>
	<li><span class="show-for-sr">Current: </span>Patients</li>
  </ul>
</nav>
<table class="table unstriped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	{% for patient in patients %}
		<tr>
			<td>
			{{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }} {{ patient.userInfo.suffix }}
			</td>
			<td>
				<a href="{{ path('record_diagnosis', {'patientId': patient.id }) }}">Add Diagnosis</a>
			</td>
		</tr>
	{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
	