{% extends 'base.html.twig' %}
{% block title %}Record Patient Diagnosis{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>Record Patient Diagnosis</h1>
		<p><b>Patient:</b> {{patient.fname}} {{patient.mname}} {{patient.lname}} {{patient.suffix}}</p>
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_widget(form) }}
			<input type="submit" class="button success" value="Submit">
			<a href="{{ path('patient_list_doctors') }}" class="button">Cancel</a>
		{{ form_end(form) }}
	</div>
{% endblock %}