{% extends 'base.html.twig' %}
{% block title %}Record Patient Diagnosis{% endblock %}
{% block body %}
<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
				Record Patient Diagnosis
			</h4>
		</div>

<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path('doctor') }}">Home</a></li>
	<li><span class="show-for-sr">Current: </span>Patients: Record Diagnosis</li>
  </ul>
</nav>

		<p><b>Patient:</b> {{patient.fname}} {{patient.mname}} {{patient.lname}} {{patient.suffix}}</p>
		
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="small-12 medium-12 columns float-right">
			<div class="medium-6 columns">
			{{ form_row(form.checkupDate) }}
			</div>
			</div>
			<br>
			<br>
			<br>
			<div class="medium-6 columns">
			<label>Checkup Reason</label>
			{{ form_widget(form.checkupReason) }}
			</div>
			<div class="medium-6 columns">
			{{ form_row(form.diagnosis) }}
			</div>
			<div class="medium-6 columns">
			{{ form_row(form.diagnosiscategory) }}
			</div>
			<br>
			<div class="medium-6 columns input-group">
			<span class="input-group-label" style="height:39px;">₱</span>
			{{ form_widget(form.payment, {'label_attr': {'class': 'input-group-field'}}) }}
			</div>
			<input type="submit" class="button success small" value="SAVE">
			<a href="{{ path('doctor') }}" class="button alert small float-right">CANCEL</a>
		{{ form_end(form) }}
	</div>
</div>
</div>
{% endblock %}