{% extends 'base.html.twig' %}

{% block title %}Reply Message{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
            Messages
			</h4>
		</div>

<div class="callout">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="button success">{{ button_label|default('Reply') }}</button>
        <a href="{{ path('send_message') }}" class="button alert">Cancel</a>
    {{ form_end(form) }}

</div>
</div>
</div>
{% endblock %}