{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'msgForm'}}) }}
        {{ form_row(form.recepient) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ form_row(form.fileUpload) }}
        <button class="button success"><i class="far fa-paper-plane fa-fw"></i>{{ button_label|default('Send') }}</button>
        <a data-close href="#" class="button alert"><i class="fas fa-times fa-fw"></i>Cancel</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(".chosen-select").chosen();
    </script>
{% endblock %}
