{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="panel-heading">
            <div>
                <h4 class="text-center">Messages</h4>
            </div>
            <div class="callout">
                <div class="grid-x">
                    <div class="callout small-12 medium-5 large-4">
                        <div class="newmessage">
                            <button data-open="messageModal" onclick="composeMessage()"; class="button success"><i class="fas fa-pen"></i> Compose Message</button>
                        </div>
                        <input type="search" id="myInput" onkeyup="searchMessages()" placeholder="Search messages" title="Type in a name">
                        <div id="tabs">
                            <ul>
                                <li><a class="tablinks" href="#inbox"><i class="fas fa-inbox fa-fw"></i>Inbox</a></li>
                                <li><a class="tablinks" href="#sent"><i class="fas fa-envelope-open fa-fw"></i>Sent Items</a></li>
                            </ul>

                            <div id="inbox" class="tabcontent">
                                <ul id="myUL">
                                </ul>
                            </div>

                            <div id="sent" class="tabcontent">
                                <ul id="myUL">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="messagearea" class="callout small-12 medium-7 large-8">
                        Select an item from the list.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reveal large" id="messageModal" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
        <div id="messageForm">
        </div>
        <button class="close-button" data-close aria-label="Close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal" id="deleteModal" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
        <h3 class="text-center">Delete Message</h3>
        <p>Are you sure you want to delete this message?</p>
        <button class="button" id="delete" data-msg-id data-close><i class="fas fa-check"></i> Yes</button>
        <button class="button alert float-right" data-close><i class="fas fa-times"></i> No</button>
        <button class="close-button" data-close aria-label="Close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        /**
         * Perform initializations when page is ready
         */
        $(window).ready(function(){
            initMessageSubmission();
        });

        /**
         * Initializes events performed by tabs
         */
        $("#tabs").tabs({
            create: function( event, ui ) {
                getInbox();
            },
            activate: function( event, ui ) {
                resetMsgList();
                $("#messagearea").html("Select an item from the list.");
            }
        });

        /**
         * Resets the message list.
         */
        function resetMsgList() {
            var active = $( "#tabs .ui-tabs-panel:visible" ).attr('id');
            if(active === "inbox") {
                getInbox();
            }else if(active === "sent") {
                getSentItems();
            }
        }

        /**
         * Retrieves messages from user's inbox, and populates the message list with the results.
         */
        function getInbox() {
            $.ajax({
                url:            "{{ path('inbox') }}",
                type:           "POST",
                contentType:    "application/json",
            })
            .done(function(data, status) {
                $("#inbox #myUL").empty();
                data.forEach(function(msgInfo) {
                    var item = $(
                                `<li>\
                                    <a id="messageBtn" href="#" data-msg-id="${ msgInfo['id'] }" \
                                        class="myBtn ${ msgInfo['isread'] ? '' : 'messageBtn--unread' }">\
                                        <strong id="sendername"></strong>\
                                        <br>\
                                        <span id="subject"></span>\
                                        <br>\
                                        <small>\
                                            <i class='far fa-clock fa-fw'></i><time class="timeago" datetime="${ msgInfo['datesent'] }" title="${ msgInfo['datesent'] }">\
                                                <span id="datesent"></span>
                                            </time>\
                                        </small>\
                                    </a>\
                                </li>`);
                    $('#messageBtn', item).click(function (event) {
                        getMessage($(event.currentTarget).data('msgId'));
                        getSelectedItem(this);
                        changeReadStatus(this);
                    });
                    $("#sendername", item).html(msgInfo['sender']);
                    $("#subject", item).html(msgInfo['subject']);
                    $("#datesent", item).html($.timeago(msgInfo['datesent']));
                    $("#inbox #myUL").append(item);
                });
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log('Failed to retrieve messages');
            });
        }

        /**
         * Retrieves messages from user's sent items, and populates the message list with the results.
         */
        function getSentItems() {
            $.ajax({
                url:            "{{ path('sent') }}",
                type:           "POST",
                contentType:    "application/json",
            })
            .done(function(data, status) {
                $("#sent #myUL").empty();
                data.forEach(function(sentItem) {
                    var item = $(
                                `<li>\
                                    <a href="#" data-msg-id="${ sentItem['id'] }" id="messageBtn">\
                                        <strong id="recepientName"></strong>\
                                        <br>\
                                        <span id="subject"></span>\
                                        <br>\
                                        <small>\
                                            <i class='far fa-clock fa-fw'></i><time class="timeago" datetime="${ sentItem['datesent'] }" title="${ sentItem['datesent'] }">\
                                                <span id="datesent"></span>
                                            </time>\
                                        </small>\
                                    </a>\
                                </li>`);
                    $('#messageBtn', item).click(function (event) {
                        getMessage($(event.currentTarget).data('msgId'));
                        getSelectedItem(this);
                    });
                    $("#recepientName", item).html(sentItem['recepient']);
                    $("#subject", item).html(sentItem['subject']);
                    $("#datesent", item).html($.timeago(sentItem['datesent']));
                    $("#sent #myUL").append(item);
                });
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log('Failed to retrieve sent items');
            });
        }

        /**
         * Retrieves the selected message.
         */
        function getMessage(id) {
            $.ajax({
                url: `{{ path('message_show', {'messageId': 'msgId'}) }}`.replace('msgId', id),
                type: 'POST',
                contentType: "application/json",
            })
            .done(function(data, status) {
                $("#messagearea").html(data);
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log(`Failed to retrieve the message`);
            });
        }

        /**
         * Adds a blue border on the selected message.
         */
        function getSelectedItem(btn) {
            var current = $(".messageBtn--selected");
            if(current.length !== 0) {
                current[0].className = current[0].className.replace(" messageBtn--selected", "");
            }
            btn.className += " messageBtn--selected";
        }

        /**
         * Removes the unread message indicator.
         */
        function changeReadStatus(btn) {
            if(btn.className.includes(" messageBtn--unread")) {
                btn.className = btn.className.replace(" messageBtn--unread", "");
            }
        }

        /**
         * Deletes a message based on ID.
         */
        function deleteMessage (id) {
            $.ajax({
                url: `{{ path('message_delete', {'messageId': 'msgId'}) }}`.replace('msgId', id),
                type: 'DELETE',
            })
            .done(function(data, status) {
                console.log(`Deleted ${id}`);
                resetMsgList();
                $("#messagearea").html("Select an item from the list.");
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log(`Failed to delete ${id}`);
            });
        }

        /**
         * Displays a modal to compose a new message.
         */
        function composeMessage() {
            $.ajax({
                url: `{{ path('message_new') }}`,
                type: 'POST',
            })
            .done(function(data, status) {
                $("#messageForm").html(data);
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            });
        }

        /**
         * Displays a modal to reply to a message.
         */
        function replyToMessage(id) {
            $.ajax({
                url: `{{ path('message_reply', {'messageId': 'msgId'}) }}`.replace('msgId', id),
                type: 'POST',
            })
            .done(function(data, status) {
                $("#messageForm").html(data);
            })
            .fail(function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            });
        }

        /**
         * Initializes the message form's modal.
         */
        function initMessageSubmission(){
            $('#messageForm').on('submit', '.msgForm', function(event) {
                event.preventDefault();

                $.ajax({
                    type:$(this).attr('method'),
                    url:$(this).attr('action'),
                    data:$(this).serialize(),
                })
                .done(function(data, status) {
                    if (typeof data.message !== 'undefined') {
                        console.log(data.message);
                        $('#messageModal').foundation('close');
                    }
                })
                .fail(function(xhr, textStatus, errorThrown) {
                    if (typeof xhr.responseJSON !== 'undefined') {
                        if (xhr.responseJSON.hasOwnProperty('form')) {
                            console.log(xhr.responseJSON);
                            $('#messageForm').html(xhr.responseJSON.form);
                        }
                    } else {
                        console.log(errorThrown);
                    }
                })
            });
        }

        function searchMessages() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        /**
         * Displays the message deletion modal.
         */
        $('#deleteModal').on('click', '#delete', function(event) {
            msgId = $(event.currentTarget).data('msg-id');
            deleteMessage(msgId);
        })

    </script>
{% endblock %}
