{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="panel-heading">
            <div>
                <h4 class="text-center">Messages</h4>
            </div>
            <div class="callout">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        {% if is_granted('ROLE_DOCTOR') %}
                            <li><a href="{{ path('doctor') }}">Home</a></li>
                            <li><a href="{{ path('appointment_doctor') }}">Appointments</a></li>
                        {% elseif is_granted('ROLE_PATIENT') %}
                            <li><a href="{{ path('patient') }}">Home</a></li>
                            <li><a href="{{ path('record_history') }}">Record History</a></li>
                            <li><a href="{{ path('add_appointment') }}">Set an appointment</a></li>
                        {% endif %}
                            <li><span class="show-for-sr">Current: </span>Messages</li>
                    </ul>
                </nav>

                <div class="grid-x">
                    <div class="callout small-12 medium-4 columns">
                        <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search conversation" title="Type in a name">
                        <div class="tab">
                            <label class="tablinks" onclick="getInbox(); changeTab(event, 'inbox')"><i class="fa fa-inbox"></i> Inbox</label>
                            <label class="tablinks" onclick="getSentItems(); changeTab(event, 'sent')"><i class="fa fa-envelope-open"></i> Sent items</label>
                        </div>
                        <div id="inbox" class="tabcontent">
                            <ul id="myUL">
                            </ul>
                        </div>
                        <div id="sent" class="tabcontent">
                            <ul id="myUL">
                            </ul>
                        </div>
                    </div>

                    <div id="messagearea" class="callout small-12 medium-8 columns">
                            <strong>SEND MESSAGE</strong>
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="receiver">
                                {{ form_row(form.recepient) }}
                        </div>
                        <div class="subject">
                                {{ form_row(form.subject) }}
                        </div>
                        <div class="messages">
                                {{ form_row(form.message) }}
                                <input type="submit" value="SEND" class="button float-right">
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# {% for message in messages %}
        <div class="modal myModal" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <p>Subject: {{ message.subject }} </p>
                </div>
                <div class="modal-body text-center">
                    <p>{{ message.message }}</p>
                </div>
                <div class="modal-footer">
                    <p class="text-left">{{ message.Datesent| date }}
                    {% if is_granted('ROLE_DOCTOR') %}
                    <a href="{{ path('message_reply', {'messageId': message.id}) }}" class="button float-right">Reply</a>
                    </p>
                    {% elseif is_granted('ROLE_PATIENT') %}
                    <a href="{{ path('message_reply', {'messageId': message.id}) }}" class="button float-right">Reply</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %} #}
    <div class="reveal" id="messageModal" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
        <dl>
            <dt>From:</dt>
            <dd>message.getSenderName</dd>
            <dt>To:</dt>
            <dd>message.getRecepientName</dd>
            <dt>Subject:</dt>
            <dd>message.subject</dd>
            <dt>Date sent:</dt>
            <dd>message.dateSent</dd>
        </dl>
        <p>message.body</p>
        <button class="button" id="delete" data-msg-id data-close>Yes</button>
        <button class="button" data-close>No</button>
        <button class="close-button" data-close aria-label="Close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="deleteModal" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
        <h2>Delete Message</h2>
        <p>Are you sure you want to delete this message?</p>
        <button class="button" id="delete" data-msg-id data-close>Yes</button>
        <button class="button" data-close>No</button>
        <button class="close-button" data-close aria-label="Close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Search #}
    <script>
        function getInbox() {
            $.ajax({
                url:            "{{ path('inbox') }}",
                type:           "POST",
                contentType:    "application/json",
                success:        function(data, status) {
                                    $("#inbox #myUL").empty();
                                    data.forEach(function(msgInfo) {
                                        var item = $(
                                                    `<li>\
                                                        <a id="messageBtn" onclick="getMessage(${ msgInfo['id'] })" href="#" id="messageBtn" \
                                                            class="myBtn ${ msgInfo['isread'] ? '' : 'unread' }">\
                                                            <strong id="sendername"></strong>\
                                                            <br>\
                                                            <span id="subject"></span>\
                                                            <br>\
                                                            <small>\
                                                                <time class="timeago" datetime="${ msgInfo['datesent'] }" title="${ msgInfo['datesent'] }">\
                                                                    <span id="datesent"></span>
                                                                </time>\
                                                            </small>\
                                                        </a>\
                                                    </li>`);
                                        $("#sendername", item).html(msgInfo['sender']);
                                        $("#subject", item).html(msgInfo['subject']);
                                        $("#datesent", item).html(msgInfo['datesent']);
                                        $("#inbox #myUL").append(item);
                                    });
                                },
                error:          function(xhr, textStatus, errorThrown) {
                                    console.log('Failed to retrieve messages');
                                }
            });
        }

        function getSentItems() {
            $.ajax({
                url:            "{{ path('sent') }}",
                type:           "POST",
                contentType:    "application/json",
                success:        function(data, status) {
                                    $("#sent #myUL").empty();
                                    data.forEach(function(sentItem) {
                                        var item = $(
                                                    `<li>\
                                                        <a id="messageBtn" href="#" onclick="getMessage(${ sentItem['id'] })" class="openmodal myBtn">\
                                                            <strong id="recepientName"></strong>\
                                                            <br>\
                                                            <span id="subject"></span>\
                                                            <br>\
                                                            <small>\
                                                                <time class="timeago" datetime="${ sentItem['datesent'] }" title="${ sentItem['datesent'] }">\
                                                                    <span id="datesent"></span>
                                                                </time>\
                                                            </small>\
                                                        </a>\
                                                    </li>`);
                                        $("#recepientName", item).html(sentItem['recepient']);
                                        $("#subject", item).html(sentItem['subject']);
                                        $("#datesent", item).html(sentItem['datesent']);
                                        $("#sent #myUL").append(item);
                                    });
                                },
                error:          function(xhr, textStatus, errorThrown) {
                                    console.log('Failed to retrieve sent items');
                                }
            })
        }

        function getMessage(id) {
            $.ajax({
                url: `{{ path('message_show', {'messageId': 'msgId'}) }}`.replace('msgId', id),
                type: 'POST',
                contentType: "application/json",
                success: function(data, status) {
                    $("#messagearea").load(`{{ path('message_show', {'messageId': 'msgId'}) }}`.replace('msgId', id));
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(`Failed to retrieve the message`);
                }
            });
        }

        function deleteMessage (id) {
            $.ajax({
                url: `{{ path('message_delete', {'messageId': 'msgId'}) }}`.replace('msgId', id),
                type: 'DELETE',
                success: function(data, status) {
                    console.log('Deleted ' + id);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(`Failed to delete ${id}`);
                }
            });
        }

        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

    {# Modal #}
        var modals = document.getElementsByClassName('modal');
        var btns = document.getElementsByClassName("openmodal");
        var spans = document.getElementsByClassName("close");

            for(let i=0;i<btns.length;i++){
                btns[i].onclick = function() {
                modals[i].style.display = "block";
            }
        }
            for(let i=0;i<spans.length;i++){
                spans[i].onclick = function() {
                modals[i].style.display = "none";
            }
        }

    {# Tab #}
        function changeTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    $(window).ready(function(){
        getInbox();
    });
    </script>
{% endblock %}
