{% block body %}

    {% for message in messages %}
        {% set count = message['unreadItems'] %}
        {% set message = message[0] %}
        {% set isArchived = (message.sender.id == app.user.id and message.isArchivedBySender) or (message.recepient.id == app.user.id and message.isArchivedByRecepient) %}
        {% set hasUnreadReplies = (not isArchived and count > 0) %}
        <li>
            <a id="messageBtn" href="#messagearea" data-msg-id="{{ message.id }}"
                class="myBtn {{ hasUnreadReplies ? 'messageBtn--unread' : '' }}">
                {% if hasUnreadReplies %}
                    <small class="myBtn__newMsgCount">{{ count }} unread {{ count == 1 ? 'reply' : 'replies' }}</small>
                    <br class="myBtn__newMsgCount">
                {% endif %}
                <strong id="sendername">{{ message.sender.getId() == app.user.id ? message.getRecepientName() : message.getSenderName() }}</strong>
                <br>
                <span id="subject">{{ message.subject }}</span>
                <br>
                <small>
                    <time class="timeago" datetime="{{ message.dateSent ? message.dateSent|date('Y-m-d H:i:s') : '' }}">{{ message.dateSent ? message.dateSent|date('Y-m-d h:i:s A') : '' }}</time>
                </small>
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".timeago").timeago();
        });
    </script>
{% endblock %}