{% block body %}
    {% if message %}
        <div class="grid-x sticky-container">
            <div class="cell small-12">
                <button class="button alert" data-msg-id="{{ message.id }}" id="delete" data-open="deleteModal"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
            <div class="cell small-12 medium-9">
                <b>{{ message.getSenderName() }}</b> to <b>{{ message.getRecepientName() }}</b>
            </div>
            <div class="cell small-12 medium-3">
                <time class="timeago" datetime="{{ message.dateSent ? message.dateSent|date('Y-m-d H:i:s') : '' }}">{{ message.dateSent ? message.dateSent|date('Y-m-d h:i:s A') : '' }}</time>
            </div>
            <div class="cell small-12">
                <h2>{{ message.subject }}</h2>
            </div>
        </div>
        <hr>
        <div>
        {% for reply in message.getReplies() %}
            <div>
                <p>{{ reply.getSenderName() }}</p>
                <p>{{ reply.replyBody }}</p>
                <time class="timeago" datetime="{{ reply.replyDate|date('Y-m-d h:i:s A') }}">{{ reply.replyDate|date('Y-m-d h:i:s A') }}</time>
            </div>

        {% endfor %}
        <br>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".timeago").timeago();
        });

        $('#delete').click( function(event) {
            msgId = $(this).data('msgId');
            $('#deleteModal #delete').data('msg-id', msgId);
        });
    </script>
{% endblock %}