{% block body %}
    {% if message %}
        <div class="grid-x" id="messageheader">
            <div class="cell small-12 medium-12 text-center">
                <h3><strong>{{ message.sender.getId() == app.user.id ? message.getRecepientName() : message.getSenderName() }}</strong></h3>
            </div>
            <div class="cell small-12 medium-6">
                <b>Subject: {{ message.subject }}</b>
            </div>
            <div class="cell small-12 medium-3">
                <time class="timeago" datetime="{{ message.dateSent ? message.dateSent|date('Y-m-d H:i:s') : '' }}">{{ message.dateSent ? message.dateSent|date('Y-m-d h:i:s A') : '' }}</time>
            </div>
            <div class="cell small-12 medium-3 text-center" id="actions">
            {% set isArchived = (message.sender.id == app.user.id and message.isArchivedBySender) or (message.recepient.id == app.user.id and message.isArchivedByRecepient) %}
                {% if isArchived %}
                    <button class="button alert" data-msg-id="{{ message.id }}" id="delete" data-open="deleteModal"><i class="fas fa-trash fa-fw"></i> Delete</button>
                {% endif %}
                <button class="button alert" data-msg-id="{{ message.id }}" id="archive" data-is-archived="{{ isArchived }}" data-open="archiveModal"><i class="fas fa-archive fa-fw"></i> {{ isArchived ? 'Recover' : 'Archive' }}</button>
            </div>
        </div>
        <ul id="replies">
            {% for reply in message.getReplies() %}
                {% if (not reply.isSenderCopyDeleted and reply.getSenderId() == app.user.id) or (not reply.isReceiverCopyDeleted and reply.getSenderId() != app.user.id) %}
                    {% block replytext %}
                        {% set isParentMessageArchived = (reply.message.sender.id == userId and reply.message.isArchivedBySender) or (reply.message.recepient.id == userId and reply.message.isArchivedByRecepient) %}
                        <li>
                            <div class="grid-x speech-bubble speech-bubble--{{ reply.getSenderId() == userId ? 'sender' : 'receiver' }} {{  not isParentMessageArchived and reply.getSenderId() != userId and not reply.isRead  ? 'speech-bubble--unread' : '' }}">
                                <div class="cell small-12">
                                    <a href="#" data-reply-id="{{ reply.getId() }}" class="deletereply" title="Remove reply">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="cell small-3">
                                    <img height="75" width="75" class="msg-avatar" src="{{ reply.sender.userInfo.getAvatar() ? asset('uploads/avatars/' ~ reply.sender.userInfo.getAvatar()) : 'http://via.placeholder.com/75x75' }}">
                                </div>
                                <div class="cell small-9">
                                    <strong>{{ reply.getSenderName() }}</strong>
                                    <br>
                                    {{ reply.replyBody|nl2br }}
                                    <br>
                                    <span class="timestamp">
                                        <time class="timeago" datetime="{{ reply.replyDate|date('Y-m-d h:i:s A') }}">{{ reply.replyDate|date('Y-m-d h:i:s A') }}</time>
                                    </span>
                                    <br>
                                </div>
                            </div>
                        </li>
                    {% endblock %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".timeago").timeago();
        });

        $('#actions').on('click', '#delete', function(event) {
            msgId = $(this).data('msgId');
            $('#deleteModal #delete').data('msg-id', msgId);
        });

        $('#actions').on('click', '#archive', function(event) {
            msgId = $(this).data('msgId');
            isArchived = $(this).data('isArchived');
            if(isArchived) {
                $('.archiveMessage').text("Are you sure you want to recover this message from the archive?");
                $('.archiveHeader').text("Recover Message");
            }
            else {
                $('.archiveMessage').text("Are you sure you want to send your copy of this message to the archive?");
                $('.archiveHeader').text("Archive Message");
            }
            $('#archiveModal #archive').data('msg-id', msgId);
        });
    </script>
{% endblock %}