{# {% extends 'base.html.twig' %} #}

{# {% block title %}Message{% endblock %} #}

{% block body %}
    {% if message %}
        <dl>
            <dt>From:</dt>
            <dd>{{ message.getSenderName() }}</dd>
            <dt>To:</dt>
            <dd>{{ message.getRecepientName() }}</dd>
            <dt>Subject:</dt>
            <dd>{{ message.subject }}</dd>
            <dt>Date sent:</dt>
            <dd><time class="timeago" datetime="{{ message.dateSent ? message.dateSent|date('Y-m-d H:i:s') : '' }}">{{ message.dateSent ? message.dateSent|date('Y-m-d h:i:s A') : '' }}</time></dd>
        </dl>
        <p>{{ message.message }}</p>
        <br>
        <button class="button" data-msg-id data-close>Reply</button>
        <button class="button alert" id="delete" data-close>Delete</button>
    {% endif %}
    {# <a href="{{ path('message_index') }}">Back to List</a> #}
{% endblock %}

{% block javascripts %}

{% endblock %}