{% block header %}
	{% set loginpage = app.request.get('_route') == 'login' %}
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>

				<li class="menu-text">DPMS</li>

				{% if app.request.get('_route') != 'admin' and is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin') }}">Admin Portal</a>
					</li>
				{% endif %}
				{% if app.request.get('_route') != 'doctor' and is_granted('ROLE_DOCTOR') %}
					<li>
						<a href="{{ path('doctor') }}">Doctor's Portal</a>
					</li>
				{% endif %}
				{% if app.request.get('_route') != 'patient' and is_granted('ROLE_PATIENT') %}
					<li>
						<a href="{{ path('patient') }}">Patient's Portal</a>
					</li>
				{% endif %}
			</ul>
		</div>
		{% if not loginpage %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<p>Hi,
					{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
						<a href="{{ path('profile', { userId: app.user.id }) }}"><i class="fa fa-user-circle"></i> {{ app.user.username }}</a>!
					{% else %}
						{{ app.user.username }}!
					{% endif %}
					<a href="/logout"><i class="fa fa-power-off">Logout</i></a></p>
					{# {% if not is_granted('ROLE_ADMIN') %}
						<a href="#" class="button-badge">
							<i class="fas fa-stethoscope"></i>
							<span class="badge alert">1</span>
						</a>
					{% endif %} #}
			{% else %}
				<div class="top-bar-right">
					<ul class="menu">
						<li>
							<a class="button" href="{{ path('login') }}">Login</a>
						</li>
					</ul>
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}