{% block header %}
	{% set loginpage = app.request.get('_route') == 'login' %}
	<div class="top-bar-container" data-sticky-container>
		<div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">DPMS</li>
						<li><a class="{{ app.request.attributes.get('_route') == 'home' ? 'menuitem--selected' }}" href="{{ path('home') }}"><i class="fas fa-home fa-fw"></i>Home</a></li>
						{% if app.request.get('_route') != 'admin' and is_granted('ROLE_ADMIN') %}
						<li><a class="{{ app.request.attributes.get('_route') == 'clinic_list' ? 'menuitem--selected' }}" href="{{ path('clinic_list') }}"><i class="fas fa-hospital fa-fw"></i>Clinics</a></li>
						<li><a class="{{ app.request.attributes.get('_route') == 'diagnosis_categories' ? 'menuitem--selected' }}" href="{{ path('diagnosis_categories') }}"><i class="fas fa-medkit fa-fw"></i>Diagnosis Categories</a></li>
						<li class="is-dropdown-submenu-parent"><a href="#"><i class="fas fa-users fa-fw"></i> Manage Users</a>
							<ul class="menu vertical">
								<li><a class="{{ app.request.attributes.get('_route') == 'doctor_list' ? 'menuitem--selected' }}" href="{{ path('doctor_list') }}"><i class="fas fa-user-md fa-fw"></i>Doctors</a></li>
								<li><a class="{{ app.request.attributes.get('_route') == 'patient_list' ? 'menuitem--selected' }}" href="{{ path('patient_list') }}"><i class="fas fa-user-alt fa-fw"></i>Patients</a></li>
							</ul>
						</li>
				<div class="top-bar foundation-5-top-bar">
						{% endif %}
						{% if app.request.get('_route') != 'doctor' and is_granted('ROLE_DOCTOR') %}
							<li><a class="{{ app.request.attributes.get('_route') == 'appointment_doctor' ? 'menuitem--selected' }}" href="{{ path('appointment_doctor') }}"><i class="fas fa-calendar-alt fa-fw"></i>Appointments</a></li>
							<li><a class="{{ app.request.attributes.get('_route') == 'messages' ? 'menuitem--selected' }}" href="{{ path('messages') }}"><i class="far fa-comments fa-fw"></i>Messages</a></li>
						{% elseif app.request.get('_route') != 'patient' and is_granted('ROLE_PATIENT') %}
							<li><a class="{{ app.request.attributes.get('_route') == 'record_history' ? 'menuitem--selected' }}" href="{{ path('record_history') }}"><i class="fas fa-file-invoice fa-fw"></i>Record History</a></li>
						<li class="is-dropdown-submenu-parent"><a href="#"><i class="fas fa-calendar-alt fa-fw"></i>Appointments</a>
							<ul class="menu vertical">
								<li><a class="{{ app.request.attributes.get('_route') == 'appointment_patient' ? 'menuitem--selected' }}" href="{{ path('appointment_patient') }}"><i class="far fa-check-square"></i>Appointment Status</a></li>
								<li><a class="{{ app.request.attributes.get('_route') == 'add_appointment' ? 'menuitem--selected' }}" href="{{ path('add_appointment') }}"><i class="fas fa-calendar-alt fa-fw"></i>Set an Appointment</a></li>
							</ul>
						</li>
							<li><a class="{{ app.request.attributes.get('_route') == 'messages' ? 'menuitem--selected' }}" href="{{ path('messages') }}"><i class="far fa-comments fa-fw"></i>Messages</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="top-bar-right">
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<ul class="menu">
								<li>
									<a class="button" href="{{ path('login') }}">Login</a>
								</li>
						{% endif %}
						{% if not loginpage %}
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							Hi,
									{% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_PATIENT') %}
										<a href="{{ path('profile', { userId: app.user.id }) }}"><i class="fa fa-user-circle"></i> {{ app.user.username }}</a>!
									{% else %}
										{{ app.user.username }}!
									{% endif %}
									<a href="#" data-open="logoutModal"><i class="fa fa-power-off fa-fw"></i>Logout</a>
						{% else %}
						</ul>
				</div>
				{% endif %}
			{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}